h1 {
    font-size: 100px;
    text-align: center;
    color: blue;
    font-family:'Courier New', Courier, monospace;
    border-radius: 50%;
    background-color: aqua;
    margin-left: 20%;
    margin-top: 15%;
    margin-right: 20%;
    margin-bottom: 15%;
    padding: 5%;
}